---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = 10 %}
{% if collections.posts.length > maxPosts %}
  <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>
{% endif %}

{% set postslist = collections.posts | head(-maxPosts) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if collections.posts.length > maxPosts %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
{% endif %}
